{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "tabWidth": 4,
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always"
}
