@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --main-color: #000000;
    --light-color: #fafafa;
    --accent-color: #008080;
    --bg-color: #dfdfdf;
    --desktop-font-size: 1.6rem;
    --desktop-title-size: 3.3rem;
    --desktop-subtitle-size: 2.2rem;
    --mobile-font-size: 1.2rem;
    --mobile-title-size: 2.2rem;
    --mobile-subtitle-size: 1.6rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: var(--desktop-font-size);
    background-color: var(--light-color);
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0 auto;
}

.btn {
    padding: 10px 45px;
    border-radius: 10px;
    margin-top: 25px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--light-color);
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

@media (hover: hover) {
    .btn:hover {
        opacity: 0.8;
    }
}

/* HEADER */

.header {
    padding: 15px 0px;
    color: var(--main-color);
    height: 100vh;
    background-image: url('../images/header_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header__preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    margin-top: 200px;
    color: var(--main-color);
}

.header__preview-title {
    font-size: var(--desktop-title-size);
    font-weight: 500;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.header__preview-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.header__preview-subtitle {
    font-size: var(--desktop-subtitle-size);
    font-weight: 500;
    text-transform: uppercase;
}

.header__preview-description {
    font-weight: 500;
    line-height: 150%;
}

/* NAVIGATION */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    max-width: 1230px;
    margin: 0 auto;
    padding: 15px 15px;
    border-radius: 10px;
}

.nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    transition: all 0.2s ease-in-out;
}

@media (hover: hover) {
    .nav__logo:hover {
        color: var(--accent-color);
    }
}

.nav__logo:hover path {
    fill: var(--accent-color);
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav__link {
    position: relative;
    transition: color 0.2s ease-in-out;
}

@media (hover: hover) {
    .nav__link:hover {
        color: var(--accent-color);
    }
}

@media (hover: hover) {
    .nav__link::after {
        content: '';
        display: inline-block;
        opacity: 0;
        position: absolute;
        top: 25px;
        left: 0px;
        width: 0px;
        height: 3px;
        border-radius: 10px;
        background-color: var(--accent-color);
        transition: all 0.2s ease-in-out;
    }
}

.nav__link:hover::after {
    opacity: 1;
    width: 100%;
}

.nav__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    padding: 2px;
    background-color: var(--light-color);
}

.nav__burger-line {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--main-color);
    transition: transform 0.3s ease;
}

.nav__burger.open .nav__burger-line:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.nav__burger.open .nav__burger-line:nth-child(2) {
    display: none;
}

.nav__burger.open .nav__burger-line:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* SWIPER */

.swiper {
    border-radius: 10px;
    margin-top: 25px;
    width: 850px;
}

.swiper__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-color);
}

.swiper__content img {
    width: 100%;
}

.swiper-button-prev {
    color: var(--main-color);
}

.swiper-button-next {
    color: var(--main-color);
}

.swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

/* ABOUT */
.about {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.about__content {
    display: flex;
    gap: 30px;
}

.about__title {
    font-size: var(--desktop-title-size);
    font-weight: 500;
    text-transform: uppercase;
}

.about__description {
    font-weight: 500;
    line-height: 150%;
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about__list-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about__list-point {
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    color: var(--light-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__info {
    flex: 1;
}

.about__image {
    flex: 1;
    margin-top: 55px;
}

.about__image img {
    width: 100%;
    border-radius: 10px;
}

.about__advantages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin-top: 30px;
}

.about__advantages-title {
    font-size: var(--desktop-title-size);
    font-weight: 500;
    width: 250px;
    margin: 0;
}

.about__advantages-list {
    display: flex;
    align-items: center;
    gap: 25px;
    min-height: 200px;
}

.about__advantages-list-item {
    display: flex;
    flex-direction: column;
    width: 260px;
    min-height: 190px;
}

.about__advantages-list-point {
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    color: var(--light-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__advantages-list-title {
    font-size: var(--desktop-subtitle-size);
    font-weight: 500;
    margin-top: 15px;
}

.about__advantages-list-desc {
    font-weight: 500;
    word-wrap: break-word;
    line-height: 150%;
}

/* PORTFOLIO */

.portfolio {
    margin-top: 100px;
}
.portfolio__title {
    font-size: var(--desktop-title-size);
    font-weight: 500;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
}

.portfolio__items {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

.portfolio__text {
    font-size: var(--desktop-subtitle-size);
    font-weight: 500;
    width: 180px;
}

.portfolio__list {
    display: flex;
    gap: 80px;
}

.portfolio__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.portfolio__list-point {
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    color: var(--light-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio__description {
    line-height: 150%;
}

.portfolio__description span {
    display: inline-block;
    font-size: var(--desktop-subtitle-size);
    padding-bottom: 15px;
}

.portfolio__swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    margin-bottom: 100px;
}

.portfolio__swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.portfolio__swiper-slide img {
    display: block;
    width: 100%;
}

.portfolio__buy {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.portfolio__buy-text {
    font-size: var(--desktop-subtitle-size);
    font-weight: 500;
    margin-right: 30px;
}

/* FAQ */

.faq {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.faq__title {
    font-size: var(--desktop-title-size);
    font-weight: 500;
    margin-bottom: 25px;
    text-transform: uppercase;
}

details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5em;
    margin-bottom: 1em;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

details[open] {
    background-color: #eef;
}

/* FOOTER */
.footer {
    margin-top: 100px;
}

.footer__title {
    font-size: var(--desktop-title-size);
    font-weight: 500;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.footer__subscribe-form {
    font-size: var(--desktop-font-size);
    font-family: inherit;
}

.footer__subscribe-input {
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    max-width: 400px;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--main-color);
}

.footer__subscribe-input:focus {
    outline: none;
    border: 2px solid var(--accent-color);
}

.footer__subscribe-button {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    margin-left: 15px;
}

.footer__contact-info {
    font-weight: 500;
    line-height: 150%;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.modal-title {
    font-size: var(--desktop-subtitle-size);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.modal-content {
    background-color: var(--light-color);
    margin: 15% auto;
    padding: 30px;
    max-width: 500px;
    border-radius: 10px;
}

.modal-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: var(--desktop-font-size);
    font-family: inherit;
}

.modal-form input {
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    color: var(--main-color);
}

.modal-form input:focus {
    outline: none;
    border: 2px solid var(--accent-color);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
